.bg-home-header
{
    background: url("/assets/img/home/continental-assist-bg-header-1920x1080.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
}

.bg-home-header .img-fluid
{
    height: 100vh;
    margin-left: -40%;
}

.bg-home-header .card
{
    border-radius: 33px;
}

#collapseBtnQuotesEngine .btn
{
    position: sticky !important;
    top:100px !important;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 400px) {
.tittle-collapse{
    margin-top: 5rem;
}
}
.bg-home-benefits
{
    background-image: url("/assets/img/home/continental-assist-bg-benefits-1920x1080.webp");
}

.bg-home-blue-access
{
    background-image: url("/assets/img/home/continental-assist-bg-blue-access-1920x1080.webp");
    background-size:  100% 100%;
    background-repeat: no-repeat;
}

.bg-home-blue-access .img-blue-access
{
    width: auto !important;
    height: 150px !important;
}

.bg-home-blue-access .img-bullets
{
    width: 50px;
}

.bg-home-faqs
{
    background-image: url("/assets/img/home/continental-assist-bg-benefits-1920x1080.webp");
    background-size: 100% 100%;
}

.bg-vibe
{
    width: 1140px;
    height: auto;
}

.bg-vibe .col-lg-4
{
    position: relative;
    margin-top: -430px;
}

.bg-vibe hr.left
{
    opacity: inherit;
    border: 1px solid var(--ca-dark-blue);
    height: 50px;
    left: calc(50% + 45px);
    position: absolute;
    margin-top: 80px;
}

.bg-vibe hr.center
{
    opacity: inherit;
    border: 1px solid var(--ca-dark-blue);
    height:110px;
    left: calc(50% + 0px);
    position: absolute;
}

.bg-vibe hr.right
{
    opacity: inherit;
    border: 1px solid var(--ca-dark-blue);
    height:50px;
    left: calc(50% + -45px);
    position: absolute;
    margin-top: 80px;
}

.stick
{
    width: auto;
    height: 100px;
}

.bg-vibe .stick-left
{
    position: relative;
    top: 80px;
    margin-left: 85px;
    width: auto;
    height: 100px;
}

.bg-vibe .stick-center
{
    position: relative;
    top: 80px;
    width: auto;
    height: 100px;
}

.bg-vibe .stick-right
{
    position: relative;
    top: 80px;
    margin-right: 85px;
    width: auto;
    height: 100px;
}

.bg-vibe p
{
    margin-top: 80px;
}

.bg-vibe .img-fluid.left,
.bg-vibe p.left
{
    margin-left: 90px;
    width: 250px;
}

.bg-vibe .img-fluid.center,
.bg-vibe p.center
{
    margin-right: 45px;
    margin-left: 45px;
    width: 250px;
}

.bg-vibe .img-fluid.right,
.bg-vibe p.right
{
    margin-right: 90px;
    width: 250px;
}

.bg-vibe small.left
{
    margin-left: 90px;
    display: block;
}

.bg-vibe small.center
{
    margin-right: 45px;
    margin-left: 45px;
    display: block;
}

.bg-vibe small.right
{
    margin-right: 90px;
    display: block;
}

.bg-home-faqs .card
{
    height: 330px;
    border-radius: 33px;
}

.bg-counter
{
    background-image: url("/assets/img/home/continental-assist-airport-table-1920x1080.webp");
    background-size: 100% 100%;
    height: 400px;
}

.bg-home-complements
{
    background-image: url("/assets/img/home/continental-assist-bg-benefits-1920x1080.webp");
    background-size: 100% 100%;
}

.bg-home-plans .row,
.bg-home-benefits .row,
.bg-home-testimonials .row,
.bg-home-faqs .row,
.bg-home-counter .row,
.bg-home-complements .row
{
    margin-top: 0px !important;
    margin-bottom: 40px !important;
}

/* indicadores subir y bajar */
.scroll-indicator .fa-chevron-down
{
    color: var(--ca-dark-blue);
    font-size: 30px;
}

@media (max-width: 1201px) {
    .scroll-indicator{
        display: none;
    }
}

.scroll-indicator #scrollIndicatorDown .fa-chevron-down:first-child
{
    position: absolute;
    font-size: 14px;
    margin-left: 8px;
}

.scroll-indicator #scrollIndicatorUp
{
    border-radius: 33px;
    width: 48px;
    height: 48px;
    padding-left: 8px;
    padding-top: 6px;
    margin-bottom: 80px;
}

.scroll-indicator #scrollIndicatorUp i:last-child
{
    position: relative;
    font-size: 14px;
    margin-left: 5px;
    top: -20px !important;
}

@media (max-width: 575.98px)
{
    .bg-home-header
    {
        background: url("/assets/img/home/continental-assist-bg-header-1080x1920.webp");
        background-size: cover;
        background-position: center;
    }

    .bg-home-header #container-quote h5
    {
        font-size: 12px !important;
    }

    .bg-counter
    {
        background-image: url("/assets/img/home/continental-assist-airport-table-1080x1920.webp");
        height: 500px;
    }

    .bg-home-blue-access
    {
        background-image: url("/assets/img/home/continental-assist-bg-blue-access-1080x1920.webp") !important;
        background-size: cover;
        background-position: center;
    }

    .bg-home-blue-access .line-dots-left
    {
        display: none;
    }

    .modal-header .img-fluid
    {
        width: 180px !important;
        top: -56px;
    }

    .align-items-end
    {
        align-items: inherit !important;
        margin-top: 120px;
    }

    .align-items-end.h-50
    {
        height: auto !important;
    }

    .text-message{
        text-align: center;
    }
}

@media (max-width: 919.98px)
{
    .select-paxs.dropdown-menu.show
    {
        inset: auto 0px auto 0px !important;
    }
}

@media (max-width: 1194px)
{
    .bg-home-blue-access
    {
        background-image: url("/assets/img/home/continental-assist-bg-blue-access-1920x1080.webp");
        background-size: 100vw 100%;
        background-repeat: no-repeat;
    }

    .bg-vibe .col-lg-4
    {
        position: relative;
        margin-top: -354px;
    }

    .bg-vibe hr.left
    {
        opacity: inherit;
        border: 1px solid var(--ca-dark-blue);
        height: 50px;
        left: calc(50% + 45px);
        position: absolute;
        margin-top: 80px;
    }

    .bg-vibe hr.center
    {
        opacity: inherit;
        border: 1px solid var(--ca-dark-blue);
        height:110px;
        left: calc(50% + 0px);
        position: absolute;
    }

    .bg-vibe hr.right
    {
        opacity: inherit;
        border: 1px solid var(--ca-dark-blue);
        height:50px;
        left: calc(50% + -45px);
        position: absolute;
        margin-top: 80px;
    }

    .bg-vibe .stick-left
    {
        position: relative;
        top: 80px;
        margin-left: 85px;
    }

    .bg-vibe .stick-center
    {
        position: relative;
        top: 80px;
    }

    .bg-vibe .stick-right
    {
        position: relative;
        top: 80px;
        margin-right: 85px;
    }

    .bg-vibe p
    {
        margin-top: 80px;
    }

    .bg-vibe .img-fluid.left,
    .bg-vibe p.left
    {
        margin-left: 70px;
        width: 210px;
    }

    .bg-vibe .img-fluid.center,
    .bg-vibe p.center
    {
        margin-right: 40px;
        margin-left: 40px;
        width: 210px;
    }

    .bg-vibe .img-fluid.right,
    .bg-vibe p.right
    {
        margin-right: 70px;
        width: 210px;
    }

    .bg-vibe small.left
    {
        margin-left: 70px;
        display: block;
    }

    .bg-vibe small.center
    {
        margin-right: 40px;
        margin-left: 40px;
        display: block;
    }

    .bg-vibe small.right
    {
        margin-right: 70px;
        display: block;
    }
}

#list-pax li{
    display: inline;
    list-style-type: none;
    border: none;

}

#div-clock {
    border: solid 1px var(--ca-yellow);
    border-radius: 10px;
}

.img-clock{
    height: 50px;
    width: auto;
    margin-top: 15px;
}

#blueaccess-widget
{
    border-radius: 30px;
    background-color: white;
    height: 750px !important;
    width: 100%;
}
.qs-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Fondo de tres columnas */
.qs-background {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 0;
}
.qs-bg-left {
    width: 13%;
    background-color: #0B2A5A;
}
.qs-bg-center {
    flex: 1;
   width: 74%;
    background-image: url("https://evacotizacion.nyc3.cdn.digitaloceanspaces.com/imagenes/img-bg-e-commerce.jpg") !important;
    background-size: cover; /* Se adapta al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    opacity: 0.4;
}
.qs-bg-right {
    width: 13%;
    background-color: #5ED0FF;
}

@media (max-width: 768px) {
    .qs-bg-left {
        width: 8%;
        background-color: #00184C;
    }
    .qs-bg-center {
        flex: 1;
        width: 84%;
        background-image: url("https://evacotizacion.nyc3.cdn.digitaloceanspaces.com/imagenes/img-bg-e-commerce.jpg") !important;
    }
    .qs-bg-right {
        width: 8%;
        background-color: #5ED0FF;
    }
}




/* Contenido encima */
.qs-content {
    position: relative;
    z-index: 10;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Top layout */
.qs-top {
    width: 74%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 40px;
}

@media (min-width: 1201px) {
    .qs-top {
        flex-direction: row;
        justify-content: space-between;
    }
}



@media (min-width: 1201px) {
    .qs-info {
        align-items: flex-start;
        text-align: center;
    }
}



.qs-dot {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 8px;
    height: 8px;
    background-color: #F7D87C;
    border-radius: 50%;
    transform: translateY(-50%);
}


@media (min-width: 1201px) {
    .qs-info {
        width: 28%;
        font-size: 39px;
        display: flex;
        flex-direction: column;
       
        padding: 0 0 0 60px;
        
    }

    .qs-title {
        position: relative;
        margin-bottom: 1.5rem;
        width: 100%;
        overflow: visible; 
    }

    .qs-title-light {
        font-size: clamp( 3.3rem, 3.8vw, 4.7rem); 
        font-weight: 100;
        letter-spacing: -0.06em;
        color: var(--ca-blue);
        line-height: 0.9;
        text-align: left;
        padding-left: 15px;
        white-space: normal; 
        
    }

    .qs-title-bold {
        font-size: clamp( 3.5rem, 4vw, 5.2rem); 
        font-weight: 800;
        letter-spacing: -0.02em;
        color: var(--ca-blue);
        line-height: 0.9;
        padding-bottom: 5px;
        white-space: normal;
    }

    
    .qs-button {
        background-color: var(--ca-yellow);
        border: 2px solid var(--ca-dark-yellow);
        color: var(--ca-blue);
        width: 100%; 
        max-width: 100%; 
        height: auto;
        font-weight: 800;
        font-size: clamp(1rem, 1.2vw, 1.3rem);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 24px 13px 24px; 
        border-radius: 999px;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
        white-space: nowrap; 
    }
}
@media (max-width: 1200px) {
  .qs-title {
    display: flex;
    flex-wrap: nowrap;         
    justify-content: center;   
    align-items: baseline;     
    gap: 0.5rem;
    margin-bottom: 2rem;               
  }

  .qs-title-light,
  .qs-title-bold {
    font-size: 2rem;
    color: var(--ca-blue);
    white-space: nowrap;       
    margin: 0;
  }

  .qs-title-light {
    font-weight: 300;
  }

  .qs-title-bold {
    font-weight: 900;
    letter-spacing: -0.02em;
  }
  .qs-top {
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 30px;
  }
}

.qs-button:hover {
    background-color: #ffe589;
}

@media (max-width: 1200px) {
    
    .qs-button {
        background-color: var(--ca-yellow);
        border: 2px solid var(--ca-dark-yellow);
        box-shadow: 0 0 10px gray;
        color: var(--ca-blue);
        width: 100%;
        height: 20%;
        font-weight: 400;
        font-size: 1rem;
    }

}

@media (max-width: 1200px) {
.qs-video {
  max-width: 100%;
  overflow: hidden; /* evita que la imagen se desborde */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid-planet {
  max-width: 100%; /* no más del 100% del contenedor */
  height: auto;
  padding:0  0px 0 0px; /* Espaciado interno lateral */
  display: block;
}
}

@media (min-width: 1201px) {
.qs-video {
  max-width: 100%;
  overflow: hidden; /* evita que la imagen se desborde */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid-planet {
  max-width: 100%; /* no más del 100% del contenedor */
  height: auto;
  padding:0  50px 0 50px; /* Espaciado interno lateral */
  display: block;
}
}

@media (max-width: 1200px) {
  .qs-video img,
  .qs-video svg {
    max-width: 100%;
    height: auto;
    border: 2px solid #5ED0FF;
    border-radius: 8px;
    display: block;
  }
}

@media (max-width: 1200px) {
    .qs-metricz{
        padding: 20px 0;
    }
}

@media (min-width: 1550px) {
.qs-metrics {
    width: 80%; 
    margin: 0px 20px 0px 20px;
    text-align: left;
    display: grid;
    margin: 0 10%;
}

.qs-metricz{
    margin:0 20px 20px 20px;
    padding-top: 15px !important;
}

.qs-metric {
    font-size: 100%;
   
}

.qs-metrics-top {
    gap: 50px;
    max-width: 64%;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.qs-metrics-bottom {
    gap: 100px;
    max-width: 44%;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 1780px) {
    .qs-metricz{
        margin:0 20px 20px 40px;
        padding-top: 20px;
    }
}


@media (min-width: 1201px) and (max-width: 1549px) {
/* Métricas */
.qs-metrics {
    width: 82%; 
    margin: 0px 20px 0px 20px;
    text-align: left;
    display: grid;
    margin: 0 40%;
}

.qs-metricz{
    margin: 0 20px 20px 40px;
    padding-top: 20px;
}

.qs-metric {
    font-size: 100%;
   
}

.qs-metrics-top {
    gap: 30px;
    max-width: 82%;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.qs-metrics-bottom {
    gap: 100px;
    max-width: 60%;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.qs-bg-left {
    width: 10%;
        background-color: #00184C;
}
.qs-bg-right {
    width: 10%;
    background-color: #5ED0FF;
}
}

@media (max-width: 1200px) {
    .qs-metrics-top,
    .qs-metrics-bottom {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .qs-metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .qs-description {
        color: var(--ca-blue);
        font-weight: 300;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 16px; /* Espaciado interno lateral */
        text-align: center;
        line-height: 1.4;
        white-space: normal;
        word-break: break-word;
        top: -30px;
    }

    .qs-metrics {
        width: 100%;
        margin: 0 ;
        text-align: center;
        display: grid;
    }

    .qs-metrics-titulo,
    .qs-metrics-titulo2 {
        text-align: center;
        bottom: -10px;
        height: 50px;
    }
}



@media (min-width: 1200px) {
    .qs-metrics-top {
        gap: 13px;
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }

    .qs-metrics-top p {
        margin-bottom: 0;
        
    }

    .qs-metrics-bottom {
        gap: 10px;
        
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .qs-metrics-bottom p {
        margin-bottom: 0;
    }
}

.qs-highlight {
    color: #00184C;
    font-weight: bold;
    font-size: 1.1em;
}
.qs-description {
    color: var(--ca-blue);
    font-weight: 300;
    max-width: 380px;
    margin-right: auto;
}
.qs-barra{
    color: #F7D87C;
    font-size: 1.8rem;

}
.qs-metrics-titulo {
    font-weight: 900;
    font-size: 130%;
}

.qs-metrics-titulo2{
    font-size: 130%;
    color: var(--ca-blue);
    font-weight: 900;

}







/* titulo seccion 4 */
@media (max-width: 650px) {
  .qd-content {
    box-sizing: border-box;
    padding: 2px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .qd-content * {
    box-sizing: border-box;
    max-width: 100%;
  }
  .qd-info{
    gap: 0.5rem;
    margin-top: 30px;
  }

  .qd-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .qd-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .qd-title-light,
  .qd-title-bold {
    font-size: 1.7rem;
    color: #00184C;
    white-space: normal;
    margin: 0;
  }

  .qd-title-light {
    font-weight: 300;
  }

  .qd-title-bold {
    font-weight: 900;
    letter-spacing: 0.02em;
  }

  .qd-button {
    
    background-color: var(--ca-yellow);
    border: 2px solid var(--ca-dark-yellow);
    box-shadow: 0 0 10px gray;
    color: var(--ca-blue);
    width: 100%;
    height: 20%;
    font-weight: 400;
    font-size: 1rem;
  }

  .qd-button:hover {
    background-color: #ffdd60;
  }

  .qd-video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px solid #5ED0FF;
  }

  .qd-video img, 
  .qd-video video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2px solid #5ED0FF;
  }
}

@media (min-width: 651px) and (max-width: 1200px) {
    .qd-content {
    box-sizing: border-box;
    padding: 2px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .qd-content * {
    box-sizing: border-box;
    max-width: 100%;
  }
  .qd-info{
    gap: 0.5rem;
    margin-top: 30px;
  }

  .qd-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .qd-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .qd-title-light,
  .qd-title-bold {
    font-size: 1.7rem;
    color: #00184C;
    white-space: normal;
    margin: 0;
  }

  .qd-title-light {
    font-weight: 300;
  }

  .qd-title-bold {
    font-weight: 900;
    letter-spacing: 0.02em;
  }

  .qd-button {
    
    background-color: var(--ca-yellow);
    border: 2px solid var(--ca-dark-yellow);
    box-shadow: 0 0 10px gray;
    color: var(--ca-blue);
    width: 100%;
    height: 20%;
    font-weight: 400;
    font-size: 1rem;
  }

  .qd-button:hover {
    background-color: #ffdd60;
  }

  .qd-video {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px solid #5ED0FF;
  }

  .qd-video img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-bottom: 2px solid #5ED0FF;
  }
}


@media (min-width: 1201px) and (max-width: 1655px) {
    .qd-content {
    box-sizing: border-box;
    padding: 2px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .qd-content * {
    box-sizing: border-box;
   
  }
  .qd-info{
    width: 80%;
    gap: 0.5rem;
    margin: 30px 0 0 100px;
  }

  .qd-top {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .qd-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .qd-title-light,
  .qd-title-bold {
    text-align: left;
    font-size: 2.8rem;
    color: #00184C;
    white-space: normal;
    margin: 0;
  }

  .qd-title-light {
    text-align: left !important;
    font-weight: 300;
  }

  .qd-title-bold {
    font-weight: 900;
    letter-spacing: 0.02em;
  }

  .qd-button {
    
    background-color: var(--ca-yellow);
    border: 2px solid var(--ca-dark-yellow);
    box-shadow: 0 0 10px gray;
    color: var(--ca-blue);
    width:80%;
    height: 20%;
    font-weight: 400;
    font-size: 1rem;
  }

  .qd-button:hover {
    background-color: #ffdd60;
  }

  .qd-video {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px solid #5ED0FF;
  }

  .qd-video img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2px solid #5ED0FF;
  }
}


.qd-section {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding-bottom: 40px;
    margin-bottom: 70px;
}

/* Fondo de tres columnas */
.qd-background {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 0;

}
.qd-bg-left {
    width: 13%;
    background-color: #42d1fd;
    border-bottom-right-radius: 1000px;
}
.qd-bg-center {
    flex: 1;

    background-image: #fdfdfd;
}
.qd-bg-right {
    width: 13%;
    background-color: #00184b;
    border-bottom-left-radius: 1000px;
}

@media (max-width: 768px) {
    .qd-bg-left {
        width: 8%;
        background-color: #42d1fd;
    }
    .qd-bg-center {
        flex: 1;
        background-color: #fdfdfd;
    }
    .qd-bg-right {
        width: 8%;
        background-color: #00184b;
    }
}

/* Contenido encima */
.qd-content {
    position: relative;
    z-index: 10;
    min-height: auto;
    padding: 2px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00184b;
    width: auto;
}

/* Top layout */
.qd-top {
    max-width: 1100px;
    width: 180%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

@media (min-width: 1201px) {
    .qd-top {
        flex-direction: row;
        justify-content: space-between;
    }
}

.qd-info {
    max-width: 600px;
    font-size: 5rem;
    display: flex;
    flex-direction: column;

}

@media (min-width: 1201px) {
    .qd-info {
        font-size: 5rem;
        align-items: flex-start;
        text-align: left;
    }
}

 @media (min-width: 1656px) {
    .qd-info {
        width: 100%;
        font-size: 3.5rem;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
    }
    .qd-title {
    position: relative;
    margin-bottom: 24px;
    width: 120%;
    }

    .qd-top{
        margin-left: 80px;
    }

    .qd-title-light {
        font-size: 3.5rem;
        font-weight: 100;
        letter-spacing: -0.06em;
        color: #00184b;
        line-height: 0.6;
    }

    .qd-title-bold  {
        font-size: 3.5rem;
        font-weight: 1000;
        letter-spacing: -0.06em;
        color: #00184b;
        line-height: 0.9;
        letter-spacing: 0.02em;
    }

    .qd-button {
        background-color: var(--ca-yellow);
        border: 2px solid var(--ca-dark-yellow);
        box-shadow: 0 0 10px gray;
        color: var(--ca-blue);
        width: 80%;
        height: 20%;
        font-weight: 400;
        font-size: 1.5rem;
        border-radius: 999px;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .qd-button:hover {
        background-color: #ffe589;
    }

    .qd-video {
    max-width: 70%;
    display: flex;
    margin-bottom: 2px solid #5ED0FF;
    }

  .qd-video img, 
  .qd-video video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2px solid #5ED0FF;
    }
    
}

/* Métricas */
.qd-metrics {
    width: 70%;
    margin: 0px 20px 0px 20px;
    text-align: left;
    display: grid;
}

.qd-metric{
    margin: 20px 10px 20px 10px;
    font-size: 150%;
}




@media (max-width: 640px) {
    .qd-metrics-top {
        grid-template-columns: 1fr;

    }

    .qd-metrics-bottom {
        grid-template-columns: 1fr;

    }
}

@media (min-width: 640px) {
    .qd-metrics-top {
        gap: 10px;
        max-width: 70%;
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .qd-metrics-bottom {
        gap: 10px;
        max-width: 50%;
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
}

.qd-highlight {
    color: #5ED0FF;
    font-weight: bold;
    font-size: 1.1em;
}
.qd-description {
    color: #E6E6E6;
    font-weight: 300;
    max-width: 600px;
    margin-right: auto;
}
.qd-barra{
    color: #F7D87C;
    font-size: 1.25em;

}
.qd-metrics-titulo {
    font-size: 120%;
}

.home {
    min-height: 75vh;
    position: relative;
}

@media (max-width: 768px) {
    .home {
        min-height: 100vh;
    }
}

#container-quote {
    min-height: 75vh;
}

@media (max-width: 768px) {
    #container-quote {
        min-height: 100vh !important;
    }
}
@media (max-width: 995px) {
    .primera-seccion{
        margin-top: 6rem !important;
    }
}

@media (max-width: 1400px) {
    .primera-seccion{
        margin-top: 7rem !important;
    }
}


.card_cotizar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
}

@media (min-width: 769px) {
    .card_cotizar{
    margin-bottom: 20px !important;
    }
}