.form-label
{
    color: var(--ca-dark-blue) !important;
    margin-bottom: 4px !important;
}

.form-select
{
    border-radius: 50px;
    border: 2px solid lightgray;
    margin-bottom: 6px;
}

.select .dropdown-menu.show
{
    /* transform: inherit !important;
    inset: auto auto auto 0px !important; */
    max-height: 50vh;
    overflow-x: auto;
    border-radius: 20px;
    padding-inline: 10px;
}

.select .dropdown-menu .dropdown-item
{
    border-radius: 20px;
}

.select .dropdown-menu .dropdown-item:hover
{
    background-color: lightgray;
}

.select .dropdown-menu .dropdown-item.active
{
    background-color: var(--ca-light-blue);
}

@media (max-width: 575.98px)
{
    .select .dropdown-menu.show
    {
        max-width: 80vw !important;
        overflow-x: hidden !important;
    }
}

@media (min-width: 576px)
{
    .select .dropdown-menu.show
    {
        transform: inherit !important;
        inset: auto auto auto 0px !important;
    }
}