/* .credit-card input[type=number]::-webkit-inner-spin-button, 
.credit-card input[type=number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none !important; 
    margin: 0 !important; 
}

.form-label
{
    color: var(--ca-dark-blue) !important;
    margin-bottom: 4px !important;
}

.form-control,
.form-select
{
    border-radius: 30px !important;
    border: 2px solid lightgray;
    margin-bottom: 6px;
}

.is-invalid~.invalid-feedback
{
    position: absolute;
    margin-top: -10px;
    margin-left: 14px;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
