/* fuentes */
@font-face {
    font-family: GalanoGrotesque;
    src: url("/assets/fonts/Galano_Grotesque.woff");
    font-display: swap;
}

@font-face {
    font-family: GalanoGrotesque_Light;
    src: url("/assets/fonts/Galano_Grotesque_Light.woff");
    font-display: swap;
}

@font-face {
    font-family: GalanoGrotesque_Bold;
    src: url("/assets/fonts/Galano_Grotesque_Bold.woff");
    font-display: swap;
}

@font-face {
      font-family: GalanoGrotesque_Semi_Bold;
      src: url("/assets/fonts/Galano_Grotesque_Semi_Bold.woff");
      font-display: swap;
}

@font-face {
    font-family: 'GalanoGrotesque_Medium';
    src: url("/assets/fonts/Galano_Grotesque_Medium.woff") format('woff');
    font-display: swap;
}

.MuiSvgIcon-root{
color: var(--ca-dark-blue);
}

.MuiPaper-rounded
{
    border-radius: 30px !important;
}

.MuiInputBase-root
{
    border: 1px solid var(--ca-gray);
    border-radius: 30px !important;
    color: var(--ca-dark-blue) !important;
   
}
.MuiInputBase-root .MuiOutlinedInput-input{
    margin-top: 0.438rem;
    padding-bottom: 0.625rem;
    font-family: GalanoGrotesque_Bold !important;
    font-display: swap;
    font-size: 1rem !important;

}


/* .Mui-focused .MuiOutlinedInput-notchedOutline
{
    border-color: var(--ca-dark-blue) !important;
}
 */
 
 .MuiInputLabel-root
 {
    font-family: GalanoGrotesque_Medium !important;
    font-size: large;
    margin-top: 1.25rem;
    margin-left: 2.3rem;
    color: var(--ca-dark-gray) !important;

 }
 .MuiInputLabel-root.Mui-focused
{
    color: var(--ca-dark-gray) !important;
    margin-top: 1.25rem;

}

 @media (max-width: 575.98px)
{

.MuiInputBase-root .MuiOutlinedInput-input{
    margin-top: 0.438rem;
    padding-bottom: 0.625rem;
    font-family: GalanoGrotesque_Bold !important;
    font-display: swap;
    font-size: 1rem !important;
    margin-left: 0.625rem !important;
}

    .MuiInputLabel-root
 {
    font-family: GalanoGrotesque_Medium !important;
    font-size: large;
    margin-top: 1.063rem !important;
    margin-left: 0.625rem !important;   
    color: var(--ca-dark-gray) !important;

 }

 .MuiInputLabel-root.Mui-focused
{
    color: var(--ca-dark-gray) !important;
    margin-top: 1.063rem !important;

}

.MuiInputLabel-root[data-shrink="false"] {
    font-size: medium;
    color: var(--ca-gray) !important;
    margin-top: 0.188rem !important;
    margin-left: 0.625rem !important
  }



}


fieldset{
    top:0 !important
}

legend{
    display: none !important;
}

.MuiPickersCalendarHeader-label{
    font-family: GalanoGrotesque !important;
    font-display: swap;


}

[role=presentation] 
{
    z-index: 40001 !important;
}