header .navbar
{
    padding-top: 0;
    padding-bottom: 0;
}

header .bg-light
{
    background-color: white !important;
}

header .bg-transparent
{
    background-color: transparent !important;
}

header .nav-item
{
    margin-left: 25px;
    margin-right: 25px;
}

header .navbar-toggler
{
    border-radius: 50px;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
}

header .navbar-toggler i
{
    color: var(--ca-blue) !important;
    width: 24px;
    /* height: 24px; */
}

header .offcanvas
{
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    background-color: var(--ca-blue);
    padding-top: 40px;
    padding-right: 20px;
    width: auto;
}

header .offcanvas .navbar-toggler
{
    background-color: var(--ca-light-blue);
}

header .offcanvas .nav-link
{
    color: white;
}



.skiptranslate .skiptranslate
{
    visibility: hidden !important;
}

.goog-te-combo
{
    border-radius: 50px;
    border: 2px solid lightgray;
    padding: 4px;
}

/* .VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc
{
    display: none !important;
} */

.goog-te-gadget-icon
{
    display: none !important;
}

.goog-te-gadget
{
    color: transparent !important;
    font-size: 0px;
}

.goog-te-gadget span
{
    display: none !important;
}

span#header-step-currency .divisa
{
    font-size: 0.875rem ;
}

@media screen and (max-width: 1300px) {
    .contenedor-header-1{
        padding-top: 14px !important;
    }
}



@media (max-width: 575.98px)
{
    header nav #btn-quotes-header
    {
        position: fixed;
        bottom: 20px;
        width: calc(100% - 120px);
        /* right: 20px; */
        left: 20px;
    }

   

    .modal-backdrop{
        position: relative !important;
    }
    
    .header-step-content{
        
    }
}



.mobile-currency-container {
    min-width: 80px; /* Asegura espacio consistente */
    display: flex;
    justify-content: center;
    align-items: center;
}