footer .bg-primary
{
    background-color: var(--ca-blue) !important;
}

footer .bg-secondary
{
    background-color: white !important;
}

footer .bg-secondary
{
    padding: 10px;
    padding-bottom: 0px;
    color: var(--ca-blue);
}

footer i,
footer img
{
    font-size: 50px;
    color: white;
    margin-top: 24px;
}



.title-country
{
    font-size: 1.25rem;
} 
@media(max-width: 575.98px)
{
    footer .bg-secondary p
    {
        font-size: 12px;
        margin-bottom: 60px;
    }

}