.bg-step-4
{
   /*  background-image: url('/assets/img/quotes-engine/continental-assist-bg-step-1-1920x1080.webp');
    background-repeat: no-repeat;
    background-size: 100vw auto; */
    background-color: #F4F4F4;
}

.resume .input-group-text
{
    font-size: 0.875rem;
}

.steps-float
{
    position: fixed;
    top: 20px;
    z-index: 2000;
}

.steps-float,
.steps-float>.row,
.steps-float>.row>.col-12,
.steps-float>.row>.col-12>.container,
.steps-float>.row>.col-12>.container>.row
{
    height: 0px;
}

.card
{
    margin-bottom: 10px;
    border-radius: 13px;
    border: none;
    box-shadow: 6px 6px 9px #519DD130;
}

.card-body
{
    padding: 10px 0px;
}

/* .cards-additionals .card .img-fluid
{
    max-height: 120px;
} */

.modal-header h2
{
    width: 100% !important;
}

.btn-collapse
{
    width: 34px;
    height: 34px;
    position: absolute;
    right: 14px;
    border: 1px solid gray;
    padding: 9px !important;
    margin-top: 2px;
}

.divisa{
    font-size: 1.8rem;
}

.form-check-inline{
    margin-right:0;
}

.form-check-input{
    margin-right:0.313rem;
}

/* Modal backdrop styles - Mobile first (rgba(0, 0, 0, 0.5)) */
.modal-backdrop-mobile {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Desktop styles (rgba(0, 0, 0, 0.2)) */
@media (min-width: 992px) {
    .modal-backdrop-mobile {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
}