.bg-step-6
{
    background-image: url('/assets/img/quotes-engine/continental-assist-bg-step-1-1920x1080.webp');
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

.card
{
    border-radius: 33px;
}

.card .card:hover
{
    border-color: var(--ca-blue);
    cursor: pointer;
}

.card-method
{
    height: 100px;
    display: grid;

}

.icons
{
    display: grid;
    align-content: center;
    justify-content: center;
}

.titles
{
    display: grid;
    align-content: center;
}