@media  (max-width: 767.98px) {
  .img-ticket{
    position: absolute;
      margin-top: -75px;
      margin-left: -15px;
      min-width: 305px;
      padding: 0px;
     
  }
  #card-pax
  {
      /* position: absolute ; */
      margin-top:-60px;
      min-height:550px !important;     
     /*  max-width:500px !important; */
      width:100%;
      z-index:10;
      border-top-left-radius: 3px !important;
      border-top-right-radius: 3px !important;
  }
 }


/* Override for small devices */
@media (min-width: 768px) and  (max-width: 999px) {
  .img-ticket{
    position: absolute;
      margin-top: -75px;
      margin-left: -15px;
      min-width: 305px;
      padding: 0px;
     
  }
  #card-pax
  {
      position: absolute ;
      margin-top:-60px;
      min-height:550px !important;     
     /*  max-width:500px !important; */
      width:94%;
      z-index:10;
      border-top-left-radius: 3px !important;
      border-top-right-radius: 3px !important;
  }
 }


/* Override for large devices */
@media (min-width: 1000px) {
  .img-ticket{
      position: absolute;
      margin-top: -82px;
      margin-left: -46px;
      padding: 0px;
      width: 535px;

    /*   background-color: brown; */
  }

  #card-pax
  {

      position: absolute ;
      margin-top: -68px;
      margin-left: -30px;
      width: 500px;
      z-index:10;
      overflow-y: auto;
      min-height: 600px;
      border-top-left-radius: 3px !important;
      border-top-right-radius: 3px !important;
  }
 }
 

 .collapse-pax .collapse {
  &:not(.show) {
    display: none;
  }
}

.collapse-pax .collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease-in-out;
}
