.bg-step-5
{
   /*  background-image: url('/assets/img/quotes-engine/continental-assist-bg-step-1-1920x1080.webp');
    background-repeat: no-repeat;
    background-size: 100vw auto; */
    background-color: #FAFAFA;
}

.card
{
    border-radius: 33px;
}

.img-card .img-fluid
{
    width: 100%;
    height: auto;
}

.img-card .card-name
{
    position: absolute;
    top: 195px;
    margin-left: 30px;
}

.img-card .card-number
{
    position: absolute;
    top: 135px;
    margin-left: 30px;
    font-size: 25px;
}

.img-card .card-expiration
{
    position: absolute;
    top: 170px;
    margin-left: 30px;
}

.border-success
{
    border: 2px solid #198754 !important;
    box-shadow: 0 0rem 1rem #198754  !important;
}

.border-danger
{
    border: 2px solid #dc3545 !important;
    box-shadow: 0 0rem 1rem #dc3545  !important;
}

.modal-header .img-fluid
{
    position: relative;
    width: 150px;
    top: 0px;
    right: 0px;
    height: 150px;
}

@media (max-width: 575.98px)
{
    .img-card .card-number
    {
        font-size: 22px;
    }

    .modal-header .img-fluid
    {
        position: relative;
        width: 150px;
        top: 0px !important;
        right: 0px;
        height: 150px;
    }
}

@media (min-width: 1680px)
{
    .img-card .card-number
    {
        top: 165px;
        margin-left: 35px;
        font-size: 25px;
    }

    .img-card .card-name
    {
        top: 225px;
        margin-left: 35px;
    }

    .img-card .card-expiration
    {
        top: 200px;
        margin-left: 35px;
    }
}

@media (min-width: 2560px)
{
    .img-card .card-number
    {
        top: 165px;
        margin-left: 35px;
        font-size: 25px;
    }

    .img-card .card-name
    {
        top: 225px;
        margin-left: 35px;
    }

    .img-card .card-expiration
    {
        top: 200px;
        margin-left: 35px;
    }
}